<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=1920,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <title>V škole SPSEKE I.A</title>
    <link rel="stylesheet" href="../static/style.css" />
    <link rel="icon" type="image/x-icon" href="../static/images/logo.png" />
</head>
<body>

<header>
    <a class="header__branding" href="/skola?den=dnes">
        <img class="header__branding__logo" src="../static/images/logo.png" alt="A logo of the secondary school of electrotechnics in Košice, Slovakia." />
        <h1 class="header__branding__text">I.A <i>Všetko na jednom mieste</i></h1>
    </a>
    <nav class="header__navigation">
        <ul class="header__navigation__buttons">
            <li class="active">
                <a href="/skola?den=dnes"><div class="active">Čo sme robili v škole</div></a>
            </li>
            <li>
                <a href="/kalendar?den=zajtra"><div>Čo mi treba na zajtra</div></a>
            </li>
            <li><a href="/rozvrh"><div>Rozvrh</div></a></li>
            <li><a href="https://drive.google.com/drive/folders/1YdkwXI14BU_72Soa5fF2_iyp5wBIuTy7?usp=sharing"><div>Materiály</div></a></li>
            <li class="header__navigation__admin"><div><img class="header__navigation__icon" src="../static/images/icons/lock.ico" alt="A lock icon">Administrácia</div></li>
        </ul>
    </nav>
</header>

<div class="content">
    <h1 class="main-header">Čo sme robili v škole 6.2.2024</h1>
    <p class="views">15 👁 videní</p>
    <ul class="classes">
        <li>
            <div class="classes__subject subject--slovina">
                <h1 class="lessons">1</h1>
                <h1>Slovina</h1>
                <ul class="components">
                    <li class="component lesson">
                        <img class="lesson__icon" src="../static/images/icons/book.png" alt="A book icon" />
                        <div class="lesson__content">
                            <h4 class="lesson__title">Na hodine</h4>
                            <p class="lesson__message">Čítali sme legendu o starovekej literatúre.</p>
                        </div>
                    </li>
                    <li class="component test">
                        <img class="test__icon" src="../static/images/icons/test.png" alt="A test icon" />
                        <div class="test__content">
                            <h4 class="test__title">Ohlásená písomka</h4>
                            <p class="test__message">Staroveká literatúra</p>
                        </div>
                        <p class="test__deadline">na pondelok (12.2.2024)</p>
                    </li>
                </ul>
            </div>
        </li>
        <li>
            <div class="classes__subject subject--anglina double">
                <h1 class="lessons">3-4</h1>
                <h1>Anglina</h1>
                <ul class="components">
                    <li class="component lesson">
                        <img class="lesson__icon" src="../static/images/icons/book.png" alt="A book icon" />
                        <div class="lesson__content">
                            <h4 class="lesson__title">Na hodine</h4>
                            <p class="lesson__message">Učebnica 123/1-5 a pracák 106/2,3</p>
                        </div>
                    </li>
                    <li class="component homework">
                        <img class="homework__icon" src="../static/images/icons/homework_backpack.png" alt="A backpack icon" />
                        <div class="homework__content">
                            <h4 class="homework__title">Domáca úloha</h4>
                            <p class="homework__message">Pracák 106/3,4,5</p>
                        </div>
                        <p class="homework__deadline">do najbližšej hodiny (streda - 14.2.2024)</p>
                    </li>
                </ul>
            </div>
        </li>
        <li>
            <div class="classes__subject subject--nemcina">
                <h1 class="lessons">5</h1>
                <h1>Nemčina</h1>
                <ul>
                    <li class="component lesson">
                        <img class="lesson__icon" src="../static/images/icons/book.png" alt="A book icon" />
                        <div class="lesson__content">
                            <h4 class="lesson__title">Na hodine</h4>
                            <p class="lesson__message">Preberali sme novú lekciu 4, z prvej strany cvičenia 1,2,3</p>
                        </div>
                    </li>
                    <li class="component attachment">
                        <img class="attachment__icon" src="../static/images/icons/attachment.png" alt="A paperclip icon" />
                        <div class="attachment__content">
                            <h4 class="attachment__title">Priložené obrázky</h4>
                            <div class="attachment__images">
                                <a href="/images/priklad-poznamky-0.jpg" target="_blank"><img src="../static/images/priklad-poznamky-0.jpg" alt="" /></a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </li>
        <li>
            <div class="classes__subject subject--uvod-do-programovania double">
                <h1 class="lessons">6-7</h1>
                <h1>Úvod do programovania</h1>
                <ul class="components">
                    <li class="component lesson">
                        <img class="lesson__icon" src="../static/images/icons/book.png" alt="A book icon" />
                        <div class="lesson__content">
                            <h4 class="lesson__title">Na hodine</h4>
                            <p class="lesson__message">Prebrali sme nested elif statementy</p>
                        </div>
                    </li>
                    <li class="component links">
                        <img class="links__icon" src="../static/images/icons/link.png" alt="A link icon" />
                        <div class="links__content">
                            <h4 class="links__title">Odkazy</h4>
                            <div class="links__urls">
                                <a href="https://drive.google.com/" target="_blank"><p>Úlohy na google disku</p></a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </li>
        <li>
            <div class="classes__subject subject--triednicka">
                <h1 class="lessons">8</h1>
                <h1>Triednicka</h1>
                <ul class="components">
                    <li class="component lesson">
                        <img class="lesson__icon" src="../static/images/icons/book.png" alt="A book icon" />
                        <div class="lesson__content">
                            <h4 class="lesson__title">Na hodine</h4>
                            <p class="lesson__message">Preberali sme výsledky dotazníku</p>
                        </div>
                    </li>
                    <li class="component note">
                        <img class="note__icon" src="../static/images/icons/note.ico" alt="A note icon" />
                        <div class="note__content">
                            <h4 class="note__title">Poznámka</h4>
                            <p class="note__message">Po triednickej niekto ostal ešte</p>
                        </div>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</div>

<footer>
    <div class="socials">
        <a href="https://github.com/FilipeeX" target="_blank"><img src="../static/images/icons/github.png" alt="The Github logo icon" /></a>
        <a href="https://sk.linkedin.com/in/filip-karab-6933882b1" target="_blank"><img src="../static/images/icons/linkedin.ico" alt="The LinkedIn logo icon" /></a>
        <a href="https://www.instagram.com/filip.karab/" target="_blank"><img src="../static/images/icons/instagram.ico" alt="The Instagram logo icon" /></a>
        <a href="https://twitter.com/FilipeeX_" target="_blank"><img src="../static/images/icons/twitter.webp" alt="The Twitter, or X, logo icon" /></a>
    </div>
    <div class="credits">
        <p>Filip Karab © 2024</p>
    </div>
</footer>

</body>
</html>